#mnemonic-dec-params {
    background: #fff;
    padding-top: 0.2rem;
    position: relative;
    z-index: 10;

    .row {
        .spacer {
            padding: 1rem 1.4rem 0 1.4rem;
        }

        .input-title {
            display:block;
            margin-bottom: 0.5rem;
        }
    }

    #mnemonic-dec-mnemonic {
        max-width: 31rem;
    }
}

#mnemonic-dec-wrong-network {
    background: #fff;
    padding: 3.5rem 1.4rem 0 1.4rem;
}

@media print {
    #mnemonic-dec-params,
    #mnemonic-dec-wrong-network {
        display: none;
    }
}