h1 {
    color: darken($mainnet-primary-color, 35);
    font-size: 1.6rem;
    font-style: italic;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

#mainmenu {
	font-weight: bold;

    li {
        a {
            color: $mainnet-primary-color;
        }

        &.active {
            > a {
                color: lighten($mainnet-primary-color, 20);
                text-shadow: 0px 0px 3px #000;
            }
        }

        a {
            @include hover {
                color: darken($mainnet-primary-color, 15)
            }
        }

        #menu-decrypt-dropdown {
            .dropdown-item {
                color: $mainnet-primary-color;

                &:hover, &:focus, &.active, &:active{
                    color:black;
                }
            }
        }
    }

    #service-name {
        color: #c1dfff;
        font-size: 15px;
        font-style: italic;
    }
}

#switch-network {
    button, button:visited {
        color: $gray-700 !important;
    }

    button:hover, button:active {
        color: $gray-900 !important;
    }
}

.popover-highlight {
    color: #800000;
    font-style: italic;
}

#options {
    font-size: smaller;

    h6 {
        margin-top: 1.2rem;
    }
}

.account-row .form-text {
	span {
        font-weight: bold;
    }

    button {
        font-size: 1.2rem;
        line-height: 1;
    }
}

.hide-pass {
    font-size: 0.65rem;
    text-transform: uppercase;
}

.mnemonic {
    font-family: monospace;
    font-size: 1.5rem;
}

.mnemonic-wrapper {
	.keep-secret {
		font-size: 1.6rem;
	}
}

.xpub-wrapper {
	.okay-to-share {
		font-size: 1.25rem;
	}
}

.address-wrapper {
    .address{
        font-size: 1rem;

        a:link, a:visited, a:hover, a:active{
            color: #000;
        }
    }

    .okay-to-share {
        font-size: 1.1rem;
    }
}

.privkey-wrapper {
	.keep-secret {
		font-size: 1.15rem;
	}

    .privkey {
        font-size: 1rem;
    }
}

.address, .privkey, .xpub {
    font-family: monospace;
    font-size: 1.2rem;
}

.keep-secret {
    color: #f00000;
    font-weight: bold;
    text-transform: uppercase;
}

.okay-to-share {
    color: #009500;
    font-weight: bold;
    text-transform: uppercase;
}

.xpub {
    word-break: break-all;
}

#page-loader {
	h1 {
        font-size: 2.4rem;
        font-style: normal;
        text-transform: uppercase;
    }
}

input#privkey-dec-key{
    font-size: 0.8rem;
    font-family: monospace;
}

footer, .testnet footer {
	color: white;

	h1 {
        color: #222;

        &.success {
            color: #009500;
        }

        &.failed {
            color: #800000;
        }
    }

	.statusicon {
		color: #fff;
		font-size: 1.6rem;
        text-decoration: none;

        &.warning {
            color: #ff7820;
        }
	}

    .footer-window {
    	color: #000;

    	a {
            color: darken($mainnet-primary-color, 20);
        }
    }

    .status-good {
        color: #009500;
        font-weight: bold;
    }

    .status-warn {
        color: #ff7820;
        font-weight: bold;
    }

    #encryption-tests-dialog {
    	.notice{
            font-style: italic;
        }
    }

    #donations-wrapper{
        font-size: 0.8rem;
        word-break: break-all;

        a:link, a:visited, a:hover, a:active{
            color: #fff;
        }

        #donations-title {
            font-style: italic;
            color: darken($mainnet-primary-color, 55);
            text-transform: uppercase;
            font-size: 1.55rem;
        }
    }
}

.testnet {
	h1 {
        color: darken($testnet-primary-color, 30);
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: bold;
    }

    #mainmenu {
        li {
            a {
                color: $testnet-primary-color;
            }

            &.active {
                a {
                    color: lighten($testnet-primary-color, 20);
                }
            }

            a {
                @include hover {
                    color: darken($testnet-primary-color, 15)
                }
            }

            #menu-decrypt-dropdown {
                .dropdown-item {
                    color: $testnet-primary-color;

                    &:hover, &:focus, &.active, &:active{
                        color:black;
                    }
                }
            }
        }
    }

    footer {
    	.statusicon {
            color: #fff;
            text-decoration: none; 
        }

        .footer-window {
            a {
                color: darken($testnet-primary-color, 30);
            }
        }

        h1 {
            color: #222;

            &.success {
                color: #009500;
            }

            &.failed {
                color: #800000;
            }
        }
    }
}

@media screen and (max-width: $bootstrap-xl) {
    .address-wrapper .address, .privkey-wrapper .privkey {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: $bootstrap-sm) {
	#page-loader {
        h1 {
            font-size: 1.8rem;
        }
    }

    .address, .privkey {
        font-size: 0.9rem;
    }

    .address, .privkey, .mnemonic, .xpub {
        font-size: 0.8rem;
    }

    .mnemonic-wrapper {
    	.keep-secret {
    		font-size: 1rem;
    	}

    	.mnemonic-title {
    		font-size: 1.2rem;
    	}
    }

    .xpub-wrapper {
        .keep-secret {
            font-size: 1rem;
        }

        .account-title {
            font-size: 1rem;
        }

        .xpub-title {
            font-size: 0.8rem;
        }

        .okay-to-share {
            font-size: 0.8rem;
        }
    }

    .address-wrapper {
        .okay-to-share {
            font-size: 0.9rem;
        }

        .address-title {
            font-size:0rem;
        }

        .address {
            word-break: break-all;
        }
    }

    .privkey-wrapper {
    	.keep-secret {
    		font-size: 0.9rem;
    	}

    	.privkey-title {
    		font-size: 1rem;
    	}

    	.privkey {
            word-break: break-all;
        }
    }
}

@media print {
    .address {
        a {
            text-decoration: none;
        }
    }

    .print-title{
        color: #c1dfff;
        font-size: 3rem;
        font-style: italic;
        margin-top: 3.5rem;
        margin-bottom: 0.25rem;
        text-align: center;
    }

    .print-subtitle{
        color: #000;
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    #wallet {
        .mnemonic-wrapper {
            .mnemonic {
                font-size: 2rem;
            }
        }

        .wallet-account {
            .xpub {
                font-size: 1.5rem;
            }
        }

        .credentials {
            .address-wrapper {
                .address {
                    font-size: 0.9rem;
                }
            }

            .privkey-wrapper {
                .privkey {
                    font-size: 0.8rem;
                }
            }
        }
    }
}