body {
    background: #f6f6f0;
}

$theme-colors: (
    "primary": $mainnet-primary-color
);

// //////////////////////////////////////////////////
// Ambiance (major settings, background colors, ...)
// //////////////////////////////////////////////////
#page {
    box-shadow: 0px 0px 50px 1px rgba(136, 136, 136, 0.25);
}

#testnet-warning {
    border: 1px #856404 dotted;
}

// this is a hack. Usually popovers have a max-width of 276px
// however some of them should be bigger.
// therefore we changed the popovers size to 630px.
// the content of the small popover must always be encapsulated
// in a div with the class .normal-popover to keep them small
.popover, .testnet .popover {
    max-width: 630px;
}

.popover .normal-popover {
    max-width: 276px;
}

#account-row-template {
    display: none;
}

#address-numbering .form-check,
#show-xpub .form-check,
#qrcode-links .form-check {
    padding-left: 0px;
}

//////////////////////////////
///         SPINNER        ///
//////////////////////////////
.loader {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    border: 14px solid #f3f3f3;
    border-radius: 50%;
    border-top: 14px solid $mainnet-primary-color;
    height: 100px;
    width: 100px;
}

.small-loader {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid $mainnet-primary-color;
    height: 25px;
    width: 25px;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// page loading
#page-loader {
    margin-top: 8%;

    #spinner-wrapper {
        margin: 0 auto;
        margin-top:8%;
        width:100px;
    }
}

@media screen and (max-width: $bootstrap-sm) {
    // spinner
    .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid $mainnet-primary-color;
        height: 60px;
        width: 60px;
    }

    div#spinner-wrapper {
        width:60px;
    }
}

.print {
    display: none;
}

@page {
    margin: 1.2cm 0 1.2cm 0;
    size: A4;

}

@media print {
    #switch-network {
        display: none;
    }

    .print {
        display: block;
    }
}