// //////////////////////////////////////////////////
// Variables
// //////////////////////////////////////////////////

$mainnet-primary: #53aff6;
$testnet-primary: #A0E04C;

$bootstrap-md: 992px;
$bootstrap-sm: 768px;


// //////////////////////////////////////////////////
// Themes
// //////////////////////////////////////////////////

// generate testnet theme
.testnet{
    $theme-colors: (
            "primary": $testnet-primary
    );
    @import "libs/bootstrap/bootstrap.scss";

    #mainmenu {
        .active a {
            color: darken($testnet-primary, 20);
        }
    }
}

// mainnet theme
$theme-colors: (
        "primary": $mainnet-primary
);

@import "libs/bootstrap/bootstrap.scss";

#mainmenu {
    .active a {
        color: darken($mainnet-primary, 20);
        text-shadow: 0px 0px 3px #000;
    }
}


// //////////////////////////////////////////////////
// Main Menu
// //////////////////////////////////////////////////

// the link for switching between mainnet and testnet
#switch-network{
    button, button:visited{
        color: $gray-700 !important;
    }
    button:hover, button:active{
        color: $gray-900 !important;
    }
}

#mainmenu {
    position: relative;
    padding-left: 285px;
    font-weight: bold;

    span#service-name{
        margin-right: 10px;
        font-style: italic;
        color: #c1dfff;
        font-size: 15px;
    }

    a.navbar-brand{
        left: 26px;
        top: -14px;
        position: absolute;

        img {
            width: 75px;
        }
    }
}

// this is a hack. Usually popovers have a max-width of 276px
// however some of them should be bigger.
// therefore we changed the popovers size to 630px.
// the content of the small popover must always be encapsulated
// in a div with the class .normal-popover to keep them small
.popover, .testnet .popover{
    max-width: 630px;
}
.popover .normal-popover{
    max-width: 276px;
}

.popover-highlight{
    color: #800000;
    font-style: italic;
}

#options{
    font-size: smaller;
}

#account-row-template{
    display: none;
}

.account-row .form-text{
    span {
        font-weight: bold;
        margin-right: 1rem;
    }

    input {
        margin-left: 0.4rem;
        width: 4rem;
    }

    button {
        padding: 0.05rem 0.25rem;
        font-size: 1.2rem;
        line-height: 1;
        margin-bottom: 0.25rem;
    }
    button.account-add {
        margin-left: 0.5rem;
    }
    button.account-remove{
        padding: 0.05rem 0.42rem;
    }
}

span#hidePass{
    min-width: 68px;
    text-transform: uppercase;
    font-size: smaller;
}

@media screen and (min-width: $bootstrap-sm) and (max-width: $bootstrap-md){
    #mainmenu {
        padding-left: 95px;

        a.navbar-brand {
            left: 10px;
        }
    }
}

@media screen and (max-width: $bootstrap-sm){
    #mainmenu {

        padding: 0px;

        .navbar-toggler{
            position: absolute;
            top: 8px;
            right: 12px;
        }

        #navbarNav {
            margin: 0 18px;
        }

        a.navbar-brand{
            position: relative;
            margin-top: 12px;
            margin-bottom: -15px;

            img {
                width: 50px;
            }
        }
    }
}

